@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #f1e6e7;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --pink:242,215,217;
  --violet:211,206,223;
  --blue:156,180,204;
  --dark-blue:116,141,116
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));

}
